/*/////////////////////////
         Framework     
          Weights      
/////////////////////////*/

@import '../../config/variables.scss';
@import '../../functions/list.scss';

.fw-font-light {
  font-weight: first($font-weights);
}

.fw-font-normal {
  font-weight: middle_item($font-weights);
}

.fw-font-bold, strong, b {
  font-weight: last($font-weights);
}