@function join ($list) {
    $string: '';
    @each $value in $list {
        $string: str-insert($string, quote($value), 10000000000);
        @if index($list, $value) != length($list) {
            $string: $string + ',';
        }
    }
    @return $string;
}