@function join ($list) {
    $string: '';
    @each $value in $list {
        $string: $string + $value;
        @if index($list, $value) != length($list) {
            $string: $string + ',';
        }
    }
    @return $string;
}