@import '../config/variables.scss';

.fw-button {
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    @each $color, $value in $colors {
        &.fw-#{$color} {
            @if $color == 'white' or $color == 'white-ter' {
                color: map-get($colors, 'black');
            } @else {
                color: map-get($colors, 'white');
            }
            background-color: $value;
            &:hover {
                background-color: darken($value, 10%);
            }
            &:focus {
                background-color: darken($value, 15%);
            }
        }
    }
}