@import '../config/variables.scss';
@import '../functions/list.scss';

.fw-light {
  font-weight: first($font-weights);
}

.fw-normal {
  font-weight: middle_item($font-weights);
}

.fw-bold, strong, b {
  font-weight: last($font-weights);
}